.sidebar {
  background-color: #343a40;
  width: 250px;
  position: absolute;
  top: 0;
  height: 100vh;
}

.sidebar .sidebar__team {
  border-bottom: 1px solid #4b545c;
}
.sidebar .sidebar__team .sidebar__logo {
  float: left;
  line-height: 0.8;
  margin-left: 0.8rem;
  margin-right: 0.5rem;
  margin-top: -3px;
  max-height: 33px;
  width: auto;
}

.sidebar .sidebar__team .sidebar__user {
  color: white;
  font-weight: 300;
  font-size: 1.25rem;
}

.sidebar__navigation ul {
  list-style: none;
}

.sidebar__navigation li {
  color: white;
  font-weight: 300;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
